@import './resets';
@import './variables';


@function weight($weight-name){
  @return map-get($font-weights, $weight-name);
}

// basic example
@mixin flexCenter($direction: column){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  gap: 3rem;
}

// light and dark theme in using mixin
@mixin theme($light-theme: true){
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.main{
  @include flexCenter(row);
  width: 80%;
  margin: 0 auto;
  #{&}__paragragh{
    font-weight: weight(regular);
    &:hover{
      color: pink;
    }
  }
}

.light{
  @include theme($light-theme: false);
}